global
    stats socket /var/run/haproxy/admin.sock mode 660 level admin expose-fd listeners

defaults
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend http
    bind *:80
    default_backend shoal

backend shoal
    # populated dynamically by shoal sidecar via runtime socket
